<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Airbnb Listings</h1>
            <p>Find your next stay</p>
        </header>
        <div class="listing-container">
            <% for(let listings of allListings){ %>
                <a href="/listing/<%= listings._id %>" class="card">
                    <div class="card-image">
                        <img src="<%= listings.image %>" alt="Listing">
                    </div>
                    <div class="card-body">
                        <h3><%= listings.title %></h3>
                    </div>
                </a>
            <% } %>
        </div>
        <div class="btn-box">
            <form action="/listing/new">
                <button>Create New Listing</button>
            </form>
        </div>
    </div>
</body>
</html>