<% layout("/layouts/boilerplate") -%>
<div class="container">
    <div class="form-box">
        <h1>Create a New Listing</h1>
        <form action="/listings/new" method="POST" novalidate class="needs-validation">
            <label>Title</label>
            <input
            class="form-control"
                type="text"
                name="title"
                placeholder="Enter listing title"
                required
            >

            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please choose a Title.</div>

            <label>Description</label>
            <textarea
            class="form-control"
                name="description"
                rows="4"
                placeholder="Describe your place"
                required
            ></textarea>
            <div class="invalid-feedback">Please choose a Description.</div>

            <label>Image URL</label>
            <input
                type="text"
                name="image"
                placeholder="Paste image URL"
            >
            <div class="text-info mt-1"> Optional. If left blank, we'll use a default image for your listing.</div>
            <label>Price (₹)</label>
            <input
            class="form-control"
                type="number"
                name="price"
                placeholder="Enter price"
                required
            >

            <div class="invalid-feedback">Please choose a Price.</div>

            <label>Location</label>
            <input
            class="form-control"
                type="text"
                name="location"
                placeholder="City"
                required
            >

            <div class="invalid-feedback">Please choose a Loacation.</div>

            <label>Country</label>
            <input
            class="form-control"
                type="text"
                name="country"
                placeholder="Country"
                required
            >

            <div class="invalid-feedback">Please choose a Country.</div>

            <button type="submit">
                Create Listing
            </button>
        </form>
    </div>
</div>