<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>showing new ejs</h1>
    <form action="/listing/new" method="post">
        <input type="text" name="title" placeholder="Enter Your Title">
    <input type="text" name="description" placeholder="Enter Your description">
    <input type="text" name="image" placeholder="Enter Your image">
    <input type="text" name="price" placeholder="Enter Your price">
    <input type="text" name="location" placeholder="Enter Your location">
    <input type="text" name="country" placeholder="Enter Your country">
    <button type="">New Listing Created</button>
    </form>
</body>
</html>